{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<h1 class="page-name">Create New Post</h1>
<div class="login">
  <div class="cent">
    <form action="" method="post" enctype="multipart/form-data">
    <div class="login-item">
      <label class="create-label" for="title">Title</label>
      <div class="title-container">
        <input class="input-label" type="text" id="title" name="title" autocomplete="off" autofocus >
      </div>
    </div>
    <div class="login-item">
      <label class="create-label" for="photo">Photo</label>
      <input  class="input-label" type="file" id="file" name="file" accept="image/*">
    </div>
    <div class="login-item">
      <label class="create-label" for="text">Text</label>
      <textarea class="input-label" name="text" id="text" cols="30" rows="10"></textarea>
    </div>
    <div class="login-button-container">
      <input id="create" class="login-button" type="submit" name="submit" value="Create a Post">
    </div>
    </form>
  </div>
</div>

{% endblock %}