{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="login">
  <div class="cent">
    <form action="" method="post">
      <div class="login-item">
        <label class="login-lable" for="username">Username</label>
        <input class="login-input" type="text" name="username" id="username" autocomplete="off" autofocus >
      </div>
      <div class="login-item">
        <label class="login-lable" for="password">Password</label>
        <input class="login-input" type="password" name="password" id="password" required>
      </div>
      <div class="login-button-container">
        <input class="login-button" type="submit" value="Log In">
      </div>
    </form>
  </div>
</div>
{% endblock %}