.main-blog{
  display: flex;
  justify-content: center;
}

.posts-log {
  display: flex;
  margin-top: 160px;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 1000px;
  margin-top: -20px;
}

.post-title-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.post-title {
  font-weight: 200;
  font-size: 30px;
}

.post-image-container {
  display: flex;
  justify-content: center;
}

.post-image {
  
}


.post-body-container {
  margin-left: 20px;
  margin-right: 10px;

}

.post-body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 200;
}

.post-info-container {
  margin-bottom: 10px;
}

.post-info {
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.post-delete-button-container {
}

#delete-button {
  padding: 10px 15px;
  background-color: black;
  border-radius: 8px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

#delete-button:hover {
  background-color: red;
  border: solid 1px black;
  color: white;
  transition: 0.25s;
}

.post {
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}