body{
  margin: 0px;
  margin-top: 60px;
  font-family: Roboto, Arial;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  background-color: rgb(58, 56, 56);
}

.nav-list li{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  color: white;
}

.nav-list a {
  color: white;
}

.nav-items {
  text-decoration: none;
}

.page-name {
  font-weight: 200;
  text-align: center;
  margin-top: 80px;
  margin-bottom: -170px;
}