body{
  background-image: url(../background.jpg);
  background-size: 100%;
  margin: 0px;
  margin-top: 60px;
  padding-bottom: 50px;
  font-family: Roboto, Arial;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  background-color: rgb(58, 56, 56);
}

.nav-list li{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  color: white;
}

.nav-list a {
  color: white;
}

.nav-items {
  text-decoration: none;
}

.page-name {
  color: white;
  font-weight: 200;
  text-align: center;
  margin-top: 100px;
  margin-bottom: -170px;
}

#logo {
  width: 55px;
  margin-left: 10px;
}

.error-pops {
  width: 100%;
  height: 50px;
  margin-top: -5px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}